<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width' />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  	<link rel="icon" type="image/png" href="/favicon.png">
	<link rel="icon" type="image/png" sizes="72x72"  href="/android-chrome-72x72.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	{% include fb-metadata.html %}

	<style type="text/css">
	  .no-fouc {display: none;}
	</style>
	<script type="text/javascript">
	  document.documentElement.className = 'no-fouc';
	</script>

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="canonical" href="page.url | replace:'index.html','' ">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">


</head>
