---
layout: default
---
{% assign homepageData = site.data.contentful.spaces.proddata.uniqueHomepage[0] %}
  
<div id="loader"></div> 

<section class="no-fouc hero hero-home layer-wrapper"></section>

<div class="layer-ontop layer-wrapper" style="height: 100vh;">
	<div class="hero-title prlx-up-slower">
		<h1 class="manus no-margin color-white">
			<span class="word-home">
				<span class="character">U</span><span class="character">n</span><span class="character">l</span><span class="character">o</span><span class="character">c</span><span class="character">k</span>
			</span>
		</h1>
		<h1 class="manus no-margin color-white">
			<span class="word-home">
				<span class="character">H</span><span class="character">u</span><span class="character">m</span><span class="character">a</span><span class="character">n</span><span class="character"> P</span><span class="character">o</span><span class="character">t</span><span class="character">e</span><span class="character">n</span><span class="character">t</span><span class="character">i</span><span class="character">a</span><span class="character">l</span>
			</span>
		</h1>
		<!-- <div class="watch-btn bounce"></div> -->
	</div>
</div>
 
<div class="homepage-wrapper">
	<div class="layer-wrapper no-fouc">
		<div class="home-brush-texture">
		    <div class="intro-img" style="background-image: url('/assets/img/blue-bg-img/1-women-sitting.jpg');">
		    	<h1 class="manus color-white prlx-down background-scroll hide-on-mobile">A champion <br />for the<br /> ultra-poor</h1>
		    	<div class="intro-content prlx-up box-shadow">
			        <div class="grid bg-purple noise">
			            <div class="color-white">
			                {{ homepageData.whyUltraPoorSectionCopy | markdownify }}
			            </div>
			        </div>
			    </div>
			    <div class="clearfix"></div>
			    <div class="text-center intro-cta prlx-up-slower">
			    	<h2 class="manus color-blue-light text-center">Why we focus on the ultra-poor</h2>
			    	<a class="cta white" href="/why-the-ultra-poor/">Learn more</a>
			    </div>
			</div>
		</div>
	</div>

	<div class="layer-wrapper">
		<div class="why-ultra-poor-img box-shadow prlx-up">
			<ul class="why-ultra-poor-slideshow grow-img" id="why-ultra-poor-slideshow-homepage">
				{% assign whyUltraPoorSlideshow = homepageData.whyUltraPoorSlideshow %}
				{% for slide in whyUltraPoorSlideshow %} 
				<li style="background-image: url('{{ slide.url }}');" class="box-shadow">
					<div class="content-overlay">
						<p class="small caps bold no-margin-bottom">{{ slide.title }}</p>
						<p class="small bold no-margin-top">{{ slide.description }}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div> 
	</div>

	<div class="bg-orange layer-wrapper why-ultra-poor-wrapper">
		<div class="social-icons-onside hide-on-mobile">
			<a href="https://twitter.com/joinuplift">{% include twitter-icon.html %}</a>
			<a href="https://www.facebook.com/joinuplift/">{% include fb-icon.html %}</a>
		</div>
	</div>

	<section class="layer-wrapper our-impact-section">
		<div class="screen-height-section">
			<h1 class="manus gradient-text prlx-down stick-to-right hide-on-mobile">Together<br /> we can lift <br />the floor</h1>
			<div class="grid">
				<div class="col-8-12 color-blue layer-wrapper">
					{{ homepageData.ourImpactCopy | markdownify }}
				</div>
			</div>
			<div class="grid graph-wrapper">
				<div class="col-3-12 layer-wrapper hide-on-mobile hide-on-tablet">
					<p class="no-margin-bottom">Our method</p>
					<div class="bar"></div>
					<div class="graph-text">
						<p class="graph-1">Advocacy</p>
						<p class="graph-2">Innovation</p>
						<p class="graph-3">Infrastructure</p>
					</div>
				</div>
				<div class="col-8-12 layer-wrapper hide-on-mobile hide-on-tablet">
					<p class="no-margin-bottom">What we invest in</p>
					<div class="bar"></div>
					<div class="graph-line graph-1"></div>
					<div class="graph-line graph-2"></div>
					<div class="graph-line graph-3"></div>
					<div class="col-1-3">
						<div class="circle-purple">
							<h3 class="text-center color-white">We Mobilize <br />Resources</h3>
						</div>
					</div>
					<div class="col-1-3">
						<div class="circle-purple">
							<h3 class="text-center color-white">We Get &amp; <br />Share Data</h3>
						</div>
					</div>
					<div class="col-1-3">
						<div class="circle-purple">
							<h3 class="text-center color-white">We Grow the <br />Numbers</h3>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="text-center learn-more-box">
				<a href="" class="color-orange"> 
					<h3 class="manus no-margin layer-ontop">Learn about our impact</h3>
				</a>
				<div class="arrow-orange"></div>
			</div> -->
		</div>
	</section>

	<div class="layer-wrapper bg-beige-light panel-images-wrapper texture-orange">
	    <ul class="why-ultra-poor-slideshow slideshow pane-img prlx-up-slower box-shadow hide-on-desktop"  id="what-we-believe-slideshow-homepage-mobile">
	        {% for slide in homepageData.ourImpactSlideshow %} 
	        <li style="background-image: url('{{ slide.url }}');"> 
	            <div class="content-overlay">
	                <p class="small caps bold no-margin-bottom">{{ slide.title }}</p>
	                <p class="small bold no-margin-top">{{ slide.description }}</p>
	            </div>
	        </li>
	        {% endfor %}
	    </ul>
	    <div class="bg-blue noise pane-content stick-to-right box-shadow prlx-up">{{ homepageData.solutionIntroCopy }}
			<!-- <a class="cta">What works?</a> -->
		</div>

	    <ul class="why-ultra-poor-slideshow slideshow pane-img prlx-up-slower box-shadow hide-on-mobile" id="what-we-believe-slideshow-homepage-desktop">
	        {% for slide in homepageData.ourImpactSlideshow %} 
	        <li style="background-image: url('{{ slide.url }}');">
	            <div class="content-overlay">
	                <p class="small caps bold no-margin-bottom">{{ slide.title }}</p>
	                <p class="small bold no-margin-top">{{ slide.description }}</p>
	            </div>
	        </li>
	        {% endfor %}
	    </ul>
	</div>

	<section class="screen-height-section img-settings layer-wrapper join-us-wrapper" style="background-image: url( {{ homepageData.joinUsImage.url }} );">
		<h1 class="manus prlx-down">Join us</h1>
	</section>

	<div class="bg-beige-light noise layer-wrapper">
		<ul class="testimonials-home box-shadow bg-yellow prlx-up-slower
		">
			{% assign testimonials = site.data.contentful.spaces.proddata.testimonials | sort: "order" %}
			{% for testimonial in testimonials %} 
			<li>
				<div class="testimonials-wrapper noise t-content center-vertical">
					<div class="col-1-2 t-image bg-yellow noise" style="background-image: url({{ testimonial.image.url }});""></div>
					<img src="/assets/img/qut1.png" class="quote-mark up hide-on-mobile" data-aos="zoom-in" data-aos-once="true">
					<div class="col-1-2 t-copy color-blue mobile-col-10-12">
						<p class="small bold caps color-orange">Our impact</p>
						<p class="quote-body">{{ testimonial.quoteOnImpact }}</p>
						<div class="bg-orange right dash" data-aos="dash-grow" data-aos-once="true"></div>
						<p class="color-blue no-margin text-right">{{ testimonial.author }}</p>
						<p class="color-blue small text-right" style="margin:0;">{{ testimonial.authorJobTitle }}</p>
					</div>
				</div> 
			</li>
			{% endfor %}
		</ul>
	</div> 

	<div class="noise no-padding-bottom clearfix layer-wrapper news">
		<div class="news-wrapper clearfix">
			{% assign news = site.data.contentful.spaces.proddata.news | sort: "order" %}

			<!-- Counting how many news items are to be displayed -->
	        {% assign totalNewsCount = 0 %} 
	        {% for newsItem in news %}
	            {% if newsItem.whereArticleWillAppear == 'homepage' or newsItem.whereArticleWillAppear == 'both' %}
	          {% assign totalNewsCount = totalNewsCount | plus: 1 %}
	          {% endif %}
	        {% endfor %}
	        {% assign newsBreakNumber = totalNewsCount | divided_by: 3 %}
	        {% assign newsBreakNumber2 = totalNewsCount | divided_by: 3 | times: 2 | plus: 1 %}
 
			<div class="masonry-layout">
	            <div class="masonry-layout__panel">
	            	<p class="caps small color-blue-light bold">Uplift &amp; Partners</p>
					<h1 class="color-orange bold no-margin-top">Features</h1>
					{% for each_news in news %}
						{% if each_news.whereArticleWillAppear == 'homepage' or each_news.whereArticleWillAppear == 'both' %}
			            {% assign currentNewsCount = currentNewsCount | plus: 1 %}
							<div class="single-news no-padding hide-on-mobile hide-on-tablet">
								<a href="{{ each_news.sourceUrl }}" target="_blank">
									<div class="news-image" style="background-image:url('{{ each_news.image.url }}')"></div>
								</a>
								<div class="overlay overlay-{{currentNewsCount}} text-center center-vertical noise">
									<a href="{{ each_news.sourceUrl }}" target="_blank">
										<div class="center source-logo img-settings" style="background-image: url('{{ each_news.sourceLogo.url }}');"></div>
										<p>{{ each_news.title }}</p>
										<p class="caps small bold read-more">Read more</p>
									</a>
								</div>
							</div>
								{% 	if currentNewsCount == newsBreakNumber 
									or currentNewsCount == newsBreakNumber2 
									or currentNewsCount == 1 
								%}
			                        <!-- starts a new columns -->
			                        </div>
			                        <div class="masonry-layout__panel">
			                    {% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div> 
		</div>
		<!-- MOBILE BLOCK -->
		<div class="hide-on-desktop">
			<ul class="why-ultra-poor-slideshow grow-img news-slideshow" id="bottom-slideshow-homepage">
				{% for each_news in news %}
				{% if each_news.whereArticleWillAppear == 'homepage' or each_news.whereArticleWillAppear == 'both' %}
	            {% assign currentNewsCount = currentNewsCount | plus: 1 %}
				<li class="single-news no-padding" data-aos="fade" data-aos-once="true">
						<a href="{{ each_news.sourceUrl }}" target="_blank">
							<div class="news-image box-shadow" style="background-image:url('{{ each_news.image.url }}');"></div>
						</a>
						<div class="overlay overlay-{{currentNewsCount}} text-center center-vertical noise box-shadow">
							<a href="{{ each_news.sourceUrl }}" target="_blank">
								<div class="center source-logo img-settings" style="background-image: url('{{ each_news.sourceLogo.url }}');"></div>
								<p>{{ each_news.title }}</p>
								<p class="caps small bold">Read more</p>
							</a>
						</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<!-- END OF MOBILE BLOCK -->
	</div>
	<section class="join-us-cta-banner overlap-block layer-wrapper prlx-up-inside center-vertical" style="z-index: 9999; background-image: url('/assets/img/blue-bg-img/2-women-sitting.jpg');">
		<div class="grid">
			<div class="center text-center color-white">
				<h1 class="color-orange">You have the power to transform lives</h1>
				<a class="cta pink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S8J56MWT9BRRU" target="_blank">Support Uplift</a>
			</div>
		</div>
	</section>
</div>